body {
  font-family: Arial, sans-serif;
  background-color: #323232;
}

.todo-container {
  max-width: 400px;
  margin: 6rem auto;
  background-color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.todo-header {
  color: #e4e4e4;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.todo-list {
  list-style-type: none;
  padding: 10px 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #323232;
  border-radius: 4px;
  margin: 10px 0;
  transform: translateY(-5px);
  animation: fade-in 0.5s ease;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item label {
  flex: 1;
  font-size: 16px;
}

.todo-item .edit-icon,
.todo-item .delete-icon {
  color: #888;
  cursor: pointer;
}

.todo-input {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.todo-input input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  color: #e4e4e4;
  background-color: #323232;
  outline: none;
  transition: all 0.2s;
}

.todo-input input[type="text"]:focus {
  box-shadow: 0px 0px 5px #14ffec;
}

/* .todo-input button {
  margin-left: 10px;
  padding: 8px 13px;
  background-color: #14ffec;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
} */
button {
  margin-left: 10px;
  padding: 8px 13px;
  background-color: #14ffec;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.checkbox-container {
  user-select: none;
  display: block;
  position: relative;
  color: #fff;
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox {
  /* position: absolute; */
  margin-right: 10px;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  left: 3px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #14ffec;
  transition: all 0.2s;
}

.checkbox:checked ~ .checkmark {
  background-color: #14ffec;
}

/* Show the checkmark when checked */
.checkbox:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid #212121;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.done-task {
  position: relative;
}

.done-task::after {
  position: absolute;
  content: "";
  display: block;
  width: 1%;
  height: 2px;
  background-color: #212121;
  top: 9px;
  left: -5px;
  transition: all 0.5s;
}

.checkbox:checked ~ .done-task::after {
  width: 130%;
}

.icon {
  cursor: pointer;
  color: #1e1e1e;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.fade-in {
  animation: fade-in 0.5s ease;
}

.fade-out {
  animation: fade-out 0.5s ease;
}

.edit-input {
  background: inherit;
  color: #e4e4e4;
  font-size: 16px;
}
.editIcon {
  margin: 0 10px;
}

.sort-box {
  direction: rtl;
  display: flex;
  margin: 10px 0;
}

.sort-bar {
  color: #14ffec;
  cursor: pointer;
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sort-filters {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  color: #14ffec;
  color: #e4e4e4;
  text-transform: capitalize;
  cursor: pointer;
  flex: 0 0 80%;
  /* opacity: 0; */
  /* transition: all 0.5s; */
  /* transform: translateX(-250px); */
  animation: fade-left 0.5s ease;
}

/* .sort-filters.show {
  opacity: 1;
  transform: translateX(0);
} */
